
.kort {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.start {
    max-width: fit-content!important;
    flex-shrink: 0;
    column-gap: auto;
    display: inline-flex;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.float {
    position: fixed;
    right: 40px;
    bottom: 40px;
    box-shadow: 2px 2px 3px #999;
}