
.kort {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.float {
    position: fixed;
    right: 40px;
    bottom: 40px;
    box-shadow: 2px 2px 3px #999;
}