button {
    max-width: 10rem;
    margin: 1em;
}


.row {
    flex-direction: row;
    width: 100%;
}

.column {
    flex-direction: column;
    width: fit-content;
    flex-wrap: wrap;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.flex1 {
    flex: 1;
}

.card-body * {
    margin: .2em;
    
}

textarea {
    height: 10rem;
}

img {
    height: 10rem;
}