<!-- Edit travel -->
<div class="container">
    <div class="card">
      <!-- Edit distance card -->
        <div class="card-body">
            <label for="strekning">Strekning</label>
            <input type="text" class="form-control" placeholder="Strekning" id="strekning" [(ngModel)]="reise.strekning">
          <!-- Edit informative text -->
            <label for="info">Info</label>
            <textarea class="form-control" placeholder="Info" [(ngModel)]="reise.info"></textarea>
            <input type="checkbox"  [(ngModel)]="reise.maLugar">
          <!-- Toggle for need a cabin / does not need a cabin -->
            <label for="flexSwitchCheckDefault">Må ha lugar</label><br>

          <!-- Edit price -->
            <div class="row">
                <div class="column">
                    <label for="prisPerGjest">Pris per gjest</label>
                    <input type="number" class="form-control" [(ngModel)]="reise.prisPerGjest" >
                </div>
                <div class="column">
                    <label for="prisPerBil">Pris bil</label>
                    <input type="number" class="form-control" [(ngModel)]="reise.prisBil" >
                </div>
            </div>

          <!-- Edit image -->
            <div class="row">
                <img src={{reise.bildeLink.url}} alt="bilde reise">
                <div class="column">
                    <select [(ngModel)]="reise.bildeLink.url">
                        <option (change)="updateId(bilde.id)" *ngFor="let bilde of bilder" value={{bilde.url}}>{{bilde.url}}</option>
                    </select>
                    <input #file (change)="updateImage(file.files)" type="file" id="inputGroupFile02">
                  <!-- Upload image button - saves changes -->
                    <button type="button" class="btn btn-info" (click)="upload()">Upload</button>
                </div>
            </div>

          <!-- Edit cabin -->
            <div class="row">
                <div>
                    <button class="btn btn-secondary" [routerLink]="['/admin/lugar', id]">Lugarer</button>
                </div>
                <div class="flex1 right">
                  <!-- Update - saves changes -->
                    <button class="btn btn-success" (click)="update()">Lagre</button>
                  <!-- Cancel button - discard changes goes back to overview of cabins-->
                    <button class="btn btn-danger" (click)="avbryt()">Avbryt</button>
                </div>
            </div>
        </div>
    </div>
</div>
