/UnitTest/bin/
/UnitTest/obj/
WebAppOppgave2.sln.DotSettings.user
.idea/.idea.WebAppOppgave2/.idea/workspace.xml
.idea/.idea.WebAppOppgave2/.idea/vcs.xml
.idea/.idea.WebAppOppgave2/.idea/projectSettingsUpdater.xml
.idea/.idea.WebAppOppgave2/.idea/indexLayout.xml
WebAppOppgave2.sln.DotSettings.user
WebAppOppgave2.sln.DotSettings.user
FullstackService/Bestillig.db-wal
FullstackService/Bestillig.db-shm
UnitTest/obj/project.assets.json
FullstackService/obj/project.assets.json
UnitTest/obj/project.assets.json
FullstackService/obj/project.assets.json
UnitTest/obj/project.assets.json
