
/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
*/

nav {
    padding: 0!important;
    margin-bottom: 20px;
}

.navbar-brand {
    padding: 0!important;
}

.highlight {
    color: rgba(255,255,255,1) !important;
}

@media only screen and (max-width: 767px) {

  .nav-link{
      text-align: center;
  }

}
