/*.tableFix          { overflow: auto; height: 100px; }
.tableFix thead th { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really.
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }

.header-fixed {
    width: 100%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    max-height: 75vh;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 25%;
    float: left;
}*/

table {
  width: 100%;
}
thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
tbody {
  display: block;
  overflow-y: auto;
  table-layout: fixed;
  max-height: calc(100vh - 300px);
}

th:first-child {
    width: fit-content;
}

.sok {
    width: 20rem;
}
/*Search field styling*/
.right {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}
