<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #102c66;">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/admin']">
            <img src="../../res/Color_Line_logo.svg" alt="" style="background-color: white; padding: 5px" height="60px">
        </a>
        <p [routerLink]="['/admin']" class="navbar-nav" style="color: white;">Admin</p>


        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded"
            (click)="toggle()"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" id="navmenu" 
        [ngClass]="{ show: isExpanded }">
            <ul class="navbar-nav ms-auto flex-grow">
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['reiser']" class="nav-link">Reiser</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['bestillinger']" class="nav-link">Bestillinger</a>
                </li>
                <li *ngIf="hei" class="nav-item">
                    <button (click)="loggUt()" type="button" class="btn btn-outline-warning">Logg ut</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>