/* Padding and margin */
nav {
    padding: 0!important;
    margin-bottom: 20px;
}
/* Styling of name */
.navbar-brand {
    padding: 0!important;
}
/*
.highlight {
    color: rgba(255,255,255,1) !important;
}
*/

/* Flex direction navbar */
#navmenu {
    justify-content: flex-end;
}

/*mouse cursor style - link to Admin login*/
p {
    cursor: pointer;
}

/*Styles for browsers with defined size or less*/
@media only screen and (max-width: 767px) {

    .nav-link{
        text-align: center;
    }

    .nav-item {
        text-align: center;
        margin-left: 0!important;
    }

    .nav-item button {
        margin-bottom: 1em
    }
}

