nav {
    padding: 0!important;
    margin-bottom: 20px;
}

.navbar-brand {
    padding: 0!important;
}

.highlight {
    color: rgba(255,255,255,1) !important;
}

#navmenu {
    justify-content: flex-end;
}

p {
    cursor: pointer;
}