<div class="container" style="min-height: calc(100vh - 60px); justify-content: center; display: flex">

    <!-- Payment in a card design -->
    
    <div class="card" style="width: 18rem; margin: auto">
        <div class="card-body">
            <h5 class="card-title rom">Betal</h5>
            <h6 id="visPris" class="card-subtitle mb-2 text-muted rom">Card subtitle</h6>

            <!-- Form starts here -->
            
            <div class="card-text column" >

                <!-- Name of cardholder -->
                
                <div class="column rom" id="cardholder"><label for="kortholder">Kortholders navn</label>
                    <input class="form-control {{validKortholder ? '': 'is-invalid'}}" id="kortholder" [(ngModel)]="kortholder" type="text">
                </div>

                <!-- Number on card -->
                
                <div class="column rom" id="cardnumber"><label for="kortnummer">Kortnummer</label>
                    <input [(ngModel)]="kortnum"  class="form-control {{validKortnum ? '': 'is-invalid'}}" id="kortnummer" type="text">
                </div>

                <!-- Valid thru date and CVV row -->
                
                <div class="column rom" id="security">
                    <div class="rad" style="justify-content: space-between">
                        <div class="column">
                            <label for="dato">Utløpsdato</label>
                            <div class="input-group mb-3" id="dato">

                                <!-- month -->
                                
                                <input [(ngModel)]="mm" (keyup)="sendAar($event)" class="form-control {{validMmm ? '': 'is-invalid'}}" placeholder="mm"
                                        maxlength="2" size="2" type="text" id="maaned" >
                                
                                <span class="input-group-text">/</span>

                                <!-- year -->
                                
                                <input [(ngModel)]="aa" (keyup)="sendMaaned($event)" class="form-control {{validMmm ? '': 'is-invalid'}}" type="text"
                                        maxlength="2" size="2" placeholder="yy" id="aar">
                            </div>
                        </div>
                        <div class="column">

                            <!-- CVV -->
                            
                            <label for="cvv">CVV</label><input [(ngModel)]="cvv" class="form-control {{validCvv? '': 'is-invalid'}}" type="text" id="cvv" maxlength="3" size="3">
                        </div>
                    </div>
                </div>

                <!-- Button to proceed and complete payment
                this button takes you to bekreftelse.html and saves your order to the DB -->
                
                <div class="column rom mt-2" style="justify-content: flex-end">
                    <button id="btn-betal" [disabled]="done" class="btn btn-success" (click)="betal()" style="width: fit-content;">Betal</button>
                </div>
            </div>
        </div>
    </div>
</div>