<!-- Card for creating admin account -->
<div class="card">
    <h5 class="card-title">Registrer</h5>
    <form (submit)="registrer()">

      <!-- Input field for uname and password -->
        <p>Brukernavn: <input name="burkernavn" type="text" class="form-control" placeholder="Brukernavn"[(ngModel)]="bruker.brukernavn"></p>
        <p>Passord: <input name="brukernavn" type="password" class="form-control" placeholder="Passord"[(ngModel)]="bruker.passord"></p>

      <!-- Register button creates the user -->
        <button  type="submit" class="btn btn-primary">Registrer</button>
    </form>
</div>
