.footer {
    background-color: #102C66;
    width: 100%;
    padding-bottom: 2em;
    padding-top: 1em;
}

.column * {
    color: white;
    opacity: 0.7;
    margin: 0;
    
}

.container h6 {
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between!important;
}

.column {
    flex-direction: column;
}

.left {
    margin-left: 1em;
}
.right {
    margin-right: 1em;
}

.right p:hover{
    cursor: pointer;
    opacity: 1;
    
}

@media only screen and (max-width: 510px){
    
    .left {
        margin-right: 1em;
        width: 100%;
        text-align: center;
        margin-bottom: 2em;
    }
    
    .right {
        margin-left: 1em;
        width: 100%;
        text-align: center;
    }


}
