<div class="container">
    <div class="card">
        <img src="{{reise.bildeLink}}" alt="" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{reise.strekning}}</h5>
            <!--<p class="card-text">{{reise.info}}</p>-->
            <div class=row>
                <button class="btn btn-primary"
                (click)="endre()">
                    <span class="material-icons">
                        edit
                    </span>
                </button>
                <button class="btn btn-danger">
                    <span class="material-icons">
                        delete
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>