<button [ngClass]="{'btn-outline-success': validTotalOut}" (click)="showInput = !showInput" class="btn btn-outline-secondary">Kontaktperson 18+</button>
<div [hidden]="!showInput" class="absolute">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark"style="height: 50px;">
            <div class="container"><span (click)="avbryt()" class="material-icons">arrow_back_ios_new</span></div>
        </nav>
    </header>
    <div class="container">
        <form class="form-vertical" role="form" (submit)="submit()">
            <input [ngClass]="{'is-valid': validFornavn}" (keyup)="validerFornavn()" type="text" class="form-control" name="fornavn" placeholder="Fornavn" [(ngModel)]="person.fornavn">
            <input [ngClass]="{'is-valid': validEtternavn}" (keyup)="validerEtternavn()" type="text" class="form-control" name="etternavn" placeholder="Etternavn" [(ngModel)]="person.etternavn">
            <input [ngClass]="{'is-valid': validFoedselsdato}" (change)="validerFoedselsdato()" type="date" class="form-control" name="foedselsdato" [(ngModel)]="person.foedselsdato">
            <div class="input-group" id="adresse-block">
                <input [(ngModel)]="person.adresse" [ngClass]="{'is-valid': validAdresse}" name=adresse (keyup)="validerAdresse()" class="form-control" type="text" id="adresse">
                <input [(ngModel)]="post.postNummer" [ngClass]="{'is-valid': validPost}" name="postnummer" (keyup)="validerPostNummer()" class="form-control zip" type="text" id="postnummer" placeholder="postNr." maxlength="4" size="4">
                <input [(ngModel)]="post.postSted" [ngClass]="{'is-valid': validPost}" name="poststed" disabled class="form-control zip" type="text" id="poststed" placeholder="poststed">
            </div>
            <input [ngClass]="{'is-valid': validTelefon}" (keyup)="validerTelefon()" type="text" class="form-control" name="telefon" placeholder="Telefon" [(ngModel)]="person.telefon">
            <input [ngClass]="{'is-valid': validEpost}" (keyup)="validerEpost()" type="email" class="form-control" name="epost" placeholder="Epost" [(ngModel)]="person.epost">
            <button [disabled]="!validTotal" type="submit" class="btn btn-primary">Lagre</button>
        </form>

        <button class="btn btn-danger" (click)="avbryt()">Avbryt</button>
    </div>
</div>