<button [ngClass]="{'btn-outline-success': validTotalOut}" (click)="showInput = !showInput" class="btn btn-outline-secondary">{{type}}</button>
<div [hidden]="!showInput" class="absolute">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark"style="height: 50px;">
            <div class="container"><span (click)="avbryt()" class="material-icons">arrow_back_ios_new</span></div>
        </nav>
    </header>
    <div class="container">
        <form class="form-vertical" role="form" (submit)="submit()">
            <input [ngClass]="{'is-valid': validFornavn}" (keyup)="validerFornavn()" type="text" class="form-control" name="fornavn" placeholder="Fornavn" [(ngModel)]="person.fornavn">
            <input [ngClass]="{'is-valid': validEtternavn}" (keyup)="validerEtternavn()" type="text" class="form-control" name="etternavn" placeholder="Etternavn" [(ngModel)]="person.etternavn">
            <input [ngClass]="{'is-valid': validFoedselsdato}" (change)="validerFoedselsdato()" type="date" class="form-control" name="foedselsdato" [(ngModel)]="person.foedselsdato">
            <button [disabled]="!validTotal" type="submit" class="btn btn-primary">Lagre</button>
        </form>

        <button class="btn btn-danger" (click)="avbryt()">Avbryt</button>
    </div>
</div>