.center {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

button {
    width: fit-content;
}

.right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

ul {
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    line-height: 40pxem;
    font-size: 20px;
    cursor: pointer;
    margin-top: .5em;
    padding: 0.5em;

    border-radius: 0.2em;

    width: fit-content;
    transition: .5s;
}

li span {
    color: #102c66;
    margin-right: 1em;
    transition: .5s;
}

li:hover {
    background-color: #102c66;
    box-shadow: 2px 2px 3px #999;
    color: white;
}


li:hover span {
    color: white;
    margin-right: 1em;
}

p {
    text-align: center;
}