button {
    max-width: 5rem;
    margin: 1em;
}

.row {
    flex-direction: row;
    width: 100%;
}

.right {
    justify-content: flex-end;
}

.card-body * {
    margin: .2em;
    
}

textarea {
    height: 10rem;
}

img {
    height: 10rem;
}