.container {
    display: flex;
    flex-direction: row;
}

.column > * {
    justify-content: center;
    margin-bottom: 1em;
}

.column {
    width: 50%;
    display: flex;
    flex-direction: column;
}