#flags {
    margin: 1rem;
    display: flex;
    flex-direction: row;
}
.flags {
    object-fit: cover;
    height: 3em;
    width: 3em;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

#reise{
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    max-width: 50%!important;
    width: 50%!important;
}

.reise {
    width: 200px;
}

#pris {
    text-align: right;
    max-width: 50%!important;
    width: 50%!important;
}

.trykkemus{
    cursor: pointer;
}

.flag-sm {
    display: none;
}

.boat {
    height: 10em;
    margin-right: 1em;
}

td{
    width: 50%!important;
    max-width: 50%!important;
}

@media only screen and (max-width: 510px){
    
    tr {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    td {
        max-width: 100%!important;
        width: 100% !important;
    }
} 