/*  Styling content of the information of the journey */
#flags {
    margin: 1rem;
    display: flex;
    flex-direction: row;
}
.flags {
    object-fit: cover;
    height: 3em;
    width: 3em;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}
/*  Styling div with 'pris' inside */
#reise{
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    max-width: 100%;
    width: 100%;
}

.reise {
    width: 200px;
}
/*  Styling total price */
#pris {
    text-align: right;
    max-width: 100%;
    width: 100%;
}
/*  Type of mouse cursor */
.trykkemus{
    cursor: pointer;
}

.flag-sm {
    display: none;
}
/*Styling image in the information of the journey*/
.boat {
    height: 10em;
    margin-right: 1em;
}
/* Size of data cells */
td{
    width: 50%!important;
    max-width: 50%!important;
}

/*Styles for browsers with defined size or less*/
@media only screen and (max-width: 510px){

    tr {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    td {
        max-width: 100%!important;
        width: 100% !important;
    }

    td:last-child {
        border-top: 0;
    }
}
