<div class="rad">
        <div id="reise">
            <!-- Denmark -->
            <!--
            <div class="reise">
                <img class="flag-sm flags" title="Denmark" src="../../res/Flag_of_Denmark.svg" alt="Denmark flag">
                <img  onclick="mini('denmark')" title="Denmark" src="../../res/Flag_of_Denmark.svg" alt="Denmark flag" class="flags trykkemus flag-lg"
                      data-bs-toggle="collapse" data-bs-target="#collapseDenmark"
                      aria-expanded="false" aria-controls="collapseDenmark">
                <div class="collapse" id="collapseDenmark" data-parent="reise">
                    <div class="card card-body">
                        <p class="trykkemus" onclick="setReise('Larvik-Hirtshals')"
                           data-bs-toggle="collapse" data-bs-target="#collapseDenmark"
                           aria-expanded="false" aria-controls="collapseDenmark">Larvik - Hirtshals</p>
                        <p class="trykkemus" onclick="setReise('Kristiansand-Hirtshals')"
                           data-bs-toggle="collapse" data-bs-target="#collapseDenmark"
                           aria-expanded="false" aria-controls="collapseDenmark">Kristiansand - Hirtshals</p>
                    </div>
                </div>
            </div>
            -->
            <!-- Germany -->
            <!--
            <div class="reise">
                <img class="flag-sm flags" title="Germany" src="../../res/Flag_of_Germany.svg" alt="Germany flag">
                <img onclick="mini('germany')" title="Germany" src="res/Flag_of_Germany.svg" alt="Germany flag" class="flags trykkemus flag-lg"
                     data-bs-toggle="collapse" data-bs-target="#collapseGermany"
                     aria-expanded="false" aria-controls="collapseGermany">
                <div class="collapse" id="collapseGermany" data-parent="reise">
                    <div class="card card-body">
                        <p class="trykkemus" onclick="setReise('Oslo-Kiel')"
                           data-bs-toggle="collapse" data-bs-target="#collapseGermany"
                           aria-expanded="false" aria-controls="collapseGermany">Oslo - Kiel</p>
                    </div>
                </div>
            </div>
            -->
            <!-- Sweden -->
            <!--
            <div class="reise">
                <img class="flag-sm flags" title="Sweden" src="res/Flag_of_Sweden.svg" alt="Sweden flag">
                <img id="sweden" onclick="mini('sweden')" title="Sweden" src="res/Flag_of_Sweden.svg" alt="Sweden flag"
                     class="flags trykkemus flag-lg" data-bs-toggle="collapse" data-bs-target="#collapseSweden"
                     aria-expanded="false" aria-controls="collapseSweden">
                <div class="collapse" id="collapseSweden" data-parent="reise">
                    <div class="card card-body">
                        <p data-bs-toggle="collapse" data-bs-target="#collapseSweden"
                           aria-expanded="false" aria-controls="collapseSweden"
                           class="trykkemus" onclick="setReise('Sandefjord-Strömstad')">Sandefjord - Strömstad</p>
                    </div>
                </div>
            </div>
        </div>
        -->

        <!-- Price -->
        
        <div id="pris">
            <p>Din totalpris blir: <span id="setPris"></span>,- kr</p>
        </div>
    </div>

    <!-- Table for the form to fill out information -->
    
    <table class="table td">
        <tr class="index-media">

            <!-- Selector for journey -->
            
            <td><label for="ferjestrekning">Ferjestrekning</label></td>
            <td>
                <select [ngClass]="{'is-valid': validStrekning}" [(ngModel)]="strekning" (change)="validerStrekning()" class="form-control trykkemus" name="ferjestrekning" id="ferjestrekning">
                    <option selected disabled value="VelgFerjestrekning">Velg ferjestrekning</option>
                    <option *ngFor="let reise of reiser" value="{{reise.strekning}}">{{reise.strekning}}</option>
                </select>
            </td>
        </tr>
        <tr class="index-media">

            <!-- Pick date to leave -->
            
            <td><label for="velgUtreise">Velg utreise</label></td>
            <td><input [ngClass]="{'is-valid': validUtreise}" [(ngModel)]="utreise" (change)="validerUtreise()" class="form-control trykkemus" id="velgUtreise" type="date"></td>
        </tr>
        <tr class="index-media">

            <!-- Pick date to return -->
            
            <td><label for="hjemDato">Velg hjemreise</label></td>
            <td><input [ngClass]="{'is-valid': validHjemreise && skalHjem}"  [disabled]="!skalHjem" [(ngModel)]="hjemreise" (change)="validerHjemreise()" class="form-control trykkemus" id="hjemDato" type="date">
            <input [(ngModel)]="skalHjem" class="form-check-input trykkemus" (click)="setHjem()" id="skalHjem" type="checkbox"> Vil ha hjemreise</td>
        </tr>
        <tr class="index-media">

            <!-- Selector for what type of sleeping accommodation (three to five stars) -->
            
            <td><label for="lugar">Velg lugar</label></td>
            <td>
                <select [(ngModel)]="lugar" onchange="validerLugar(this)" class="form-control trykkemus" disabled id="lugar">
                    <option disabled selected>Velg lugar</option>
                </select>
                <input class="form-check-input trykkemus" onclick="skalLugar()" id="lugarCheck" type="checkbox"> <label
                    for="lugarCheck">Skal ha lugar</label>
            </td>
        </tr>
        <tr class="index-media">

            <!-- Car yes/no and license plate number -->
            
            <td><label for="regNummer">Velg bil</label></td>
            <td><input [disabled]="!skalBil" [ngClass]="{'is-valid': validBil && skalBil}" [(ngModel)]="bil" (keyup)="validerRegnummer()" class="form-control" id="regNummer" disabled type="text" placeholder="regnummer her">
                <input [(ngModel)]="skalBil" class="form-check-input trykkemus" id="regCheck" type="checkbox"> <label
                        for="regCheck">Skal ha bil</label></td>
        </tr>
        <tr class="index-media">

            <!-- Number of passengers -->
            
            <td><p>Velg antall</p></td>

            <!-- Number of adults -->
            
            <td><label style="margin-right: 5%" for="voksen">Voksen</label>
                <input [ngClass]="{'is-valid': validAntallVoksen}" [(ngModel)]="antallVoksen" (keyup)="validerVoksne()" (change)="validerVoksne()" class="form-control" id="voksen"
                      style="margin-right: 5%" type="number">

                <!-- Number of children -->
                
                <label style="margin-right: 5%" for="barn">Barn</label>
                <input [(ngModel)]="antallBarn" onkeyup="validerBarn(this)" class="form-control" id="barn" type="number"></td>
        </tr>
        <tr class="align-under index-media">

            <!-- Button to move on with the order -->
            
            <td><button onclick="videre()" id="videre" class="btn btn-success" [disabled]="!validTotal">
                Gå videre med bestillingen</button></td>
            <td>

                <!-- Placing some information about the journey here -->
                
                <div id="flags"></div>
            </td>
        </tr>
    </table>