<!-- Row with buttons of all the passengers on from the current order -->

<div class="row">
    <app-kontakt-person
        [person]="kontaktPerson"
        [avreise]="bestilling.utreiseDato"
        (notifyParent)="updateKontaktPerson($event)"
        [ngClass]="{'btn-outline-success': validKontaktPerson}" ></app-kontakt-person>
    <app-kunde
        *ngFor="let voksen of voksne; index as i"
        [person]="voksen"
        [avreise]="bestilling.utreiseDato"
        [index]="i"
        type="voksen"
        (notifyParent)="updateKontakt($event)"
        ></app-kunde>
    <app-kunde
        *ngFor="let barn of barn; index as i"
        [person]="barn"
        [avreise]="bestilling.utreiseDato"
        [index]="i"
        type="barn"
        (notifyParent)="updateKontakt($event)"
        ></app-kunde>

  <!-- Submit button - takes you to the next step -->

    <button [disabled]="!validTotal" class="btn btn-primary"(click)="submit()" >Bestill</button>
</div>
